[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8081/
	serverId = edf8ba98-1c22-44cd-ac5a-cc6489ff50ab
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = davido
	javaHome = /Library/Java/JavaVirtualMachines/jdk1.8.0_112.jdk/Contents/Home/jre
[index]
	type = LUCENE
[auth]
	type = HTTP
	httpHeader = X-SAML-UserName
	httpDisplaynameHeader = X-SAML-DisplayName
	httpEmailHeader = X-SAML-EmailHeader
	httpExternalIdHeader = X-SAML-ExternalId
	loginUrl = http://localhost:8081/login
	logoutUrl = http://localhost:8080/auth/realms/master/protocol/openid-connect/logout
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8081/
	filterClass = com.thesamet.gerrit.plugins.saml.SamlWebFilter
[cache]
	directory = cache
[saml]
    serviceProviderEntityId = SAML2Client
    keystorePath = /Users/davido/projects/test_site_saml/etc/samlKeystore.jks
    keystorePassword = pac4j-demo-password
    privateKeyPassword = pac4j-demo-password
    metadataPath = http://localhost:8080/auth/realms/master/protocol/saml/descriptor
    userNameAttr = UserName
    displayNameAttr = DisplayName
    emailAddressAttr = EmailAddress
    computedDisplayName = true
    firstNameAttr = firstName
    lastNameAttr = lastName
